[submodule "public/web/app/themes/rooftop-theme"]
	path = public/web/app/themes/rooftop-theme
	url = ssh://git@github.com/rooftopcms/rooftop-theme
[submodule "public/web/app/plugins/rooftop-events"]
	path = public/web/app/plugins/rooftop-events
	url = ssh://git@github.com/rooftopcms/rooftop-events

[submodule "public/web/app/mu-plugins/acf-repeater"]
	path = public/web/app/mu-plugins/acf-repeater
	url = git@bitbucket.org:errorstudio/acf-repeater.git
