[submodule "public/web/app/themes/rooftop-theme"]
	path = public/web/app/themes/rooftop-theme
	url = ssh://git@github.com/rooftopcms/rooftop-theme
[submodule "public/web/app/plugins/rooftop-events"]
	path = public/web/app/plugins/rooftop-events
	url = https://github.com/rooftopcms/rooftop-events.git
