[submodule "public/web/app/themes/client-theme-1"]
	path = public/web/app/themes/client-theme-1
	url = ssh://git@bitbucket.org/errorstudio/client-theme-1
[submodule "public/web/app/themes/rooftop-marketing-theme"]
	path = public/web/app/themes/rooftop-marketing-theme
	url = git@github.com:rooftopcms/rooftop-marketing-theme.git
[submodule "public/web/app/themes/rooftop-theme"]
	path = public/web/app/themes/rooftop-theme
	url = ssh://git@github.com/rooftopcms/rooftop-theme
