<phpunit 
	bootstrap="./includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./app/mu-plugins/</directory>
		</testsuite>
	</testsuites>
</phpunit>

